@*@using MusicShop.Models
    @model  IEnumerable<Album>*@

@*@using MusicShop.ViewModel

@model AlbumListViewModel*@

<h1>@ViewBag.GroupName</h1>

<div class="row mt-5 mb-2">
    @{
        foreach (var album in Model.AllAlbums)
        {
            <div class="col-md-4">
                <img class="img-thumbnail" src="@album.img" alt="@album.Name" width="160" height="160"/>
                <h3><a href='/Album/InfoAlbum?albumId=@album.Id'> Альбом : @album.Name </a></h3>

                <p> Цена : @album.Price.ToString("c")</p>
            </div>
        }
    }

</div>
