@*@using MusicShop.Models
    @model  Album*@

@*@using MusicShop.ViewModel 
    @model AlbumListViewModel*@

@*@using MusicShop.WorkClasses
    @model FileWorker*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/one_album_style.css" rel="stylesheet" type="text/css" />
    <title>Информация об альбоме</title>
</head>
<body>
    @{
        var current_album = Model.ConcreteAlbum;
        var current_group = Model.ConcreteGroup;
    }
    <div class="title" align="center">
        <h2 class="group_name">@current_group.GroupName</h2>

        <img src="@current_album.img" width="160" height="160" />

        <h2 class="album_name">@current_album.Name</h2>

    </div>
    <div class="text_review">
        @Model.getReview();
    </div>
    <div class="list_songs">
        <ul>
            @{
                foreach (var song in Model.getSongs())
                {
                    <li class="song_name">
                        @song;
                    </li>
                }
            }
        </ul>
    </div>
    <div class="btn_order">
            @using (Html.BeginForm("AddToCart", "ShopCart"))
            {
                <div class="pull-right">
                    @Html.HiddenFor(x => current_album)
                   
                    <input type="submit" class="btn_cart" value="Добавить в коллекцию" />
                </div>
             }
        <form>
            <button class="btn_review">Написать отзыв</button>
        </form>
    </div>
</body>
</html>
